{% extends 'mailings/base.html' %}

{% block content %}
<div class="col-4">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ object.fio }}</h4>
        </div>
        <div class="card-body">
            <p class="card-title pricing-card-title"><b>Email:</b><br>{{ object.email }}</p>
            <p><b>Комментарий:</b><br>{{ object.comment }}</p>
            <p><b>Владелец:</b> {{ object.user }}</p>
        </div>
    </div>
</div>
{% endblock %}