{% extends 'mailings/base.html' %}
{% block content %}
{% load my_tags %}

<div class="row text-center">
    {% for object in object_list %}
    <div class="col-4">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h2 class="my-0 font-weight-normal">{{ object.title }}</h2>
            </div>
            <img src="{{ object.image | media_filter }}" alt="Article Image" class="img-fluid">
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li>{{ object.description | truncatechars:100 }}</li>
                    <li>Дата создания: {{ object.created_at }}</li>
                </ul>
                <a href="{% url 'blog:view_article' object.pk %}">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Подробнее</button>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}