<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <p class="card-text">{{ object.name }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="{% url 'mailings:view_mailing' object.pk %}" class="btn btn-sm btn-outline-secondary">Подробнее</a>
                    <a href="{% url 'mailings:update_mailing' object.pk %}" class="btn btn-sm btn-outline-secondary">Редактировать</a>
                </div>
                <a href="{% url 'mailings:delete_mailing' object.pk %}" class="btn btn-sm btn-outline-danger">Удалить</a>
            </div>
        </div>
    </div>
</div>